
<div *ngIf="appState == 'default'">
  <h3>
    Add Todo
  </h3>
  <form (submit)="addTodo()">
    <md-input-container>
      <input name="addInput" mdInput placeholder="Add Todo" [(ngModel)]="text">
    </md-input-container>   
  </form>
</div>
<div *ngIf="appState == 'edit'">
  <h3>
    Edit Todo
  </h3>
  <form (submit)="updateTodo()">
    <md-input-container>
      <input name="editInput" mdInput placeholder="Edit Todo" [(ngModel)]="text">
    </md-input-container> 
  </form>
</div>

<md-list>
  <h3 md-subheader>
    Todo List
  </h3>
  <md-list-item *ngFor="let todo of todos">
    <span (click)="editTodo(todo)">{{todo.text}}</span><button md-mini-fab (click)="deleteTodo(todo.text)"><md-icon>delete</md-icon></button>
  </md-list-item>
  <md-list-item *ngIf="todos.length === 0">No Todos founded</md-list-item>
</md-list>